<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Add Family</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/graduateicon.ico">
    <!-- slick css -->
    <link href="assets/libs/slick-slider/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/slick-slider/slick/slick-theme.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="assets/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="assets/images/logo-sm-dark.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="assets/images/logo-dark.png" alt="" height="20">
                            </span>
                        </a>
                        <a href="" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="assets/images/logo-sm-light.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="images/GSPBS.png" alt="" height="33">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="mdi mdi-backburger"></i>
                    </button>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ml-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="mdi mdi-fullscreen"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b><span style="color: olivedrab; text-decoration: underline;"
                                    class="d-none d-sm-inline-block ml-1">
                                    <%= session.Surname %>
                                        <%= session.FirstName %>
                                </span></b>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a class="dropdown-item" href="/profile"><i
                                    class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i
                                    class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <!-- <li class="menu-title">Menu</li> -->
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="/dashboard" class="waves-effect">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>Admin Panel</span>
                            </a>
                        </li>

                        <li>
                            <a href="" class="waves-effect">
                                <i class="mdi mdi-calendar-month"></i>
                                <span>Requests</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-account-group"></i>
                                <span>Manage Families</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/view-family">View Family</a></li>
                                <li><a href="/add-family">Add Family Head</a></li>
                                <li><a href="/add-family-member">Add Family Member</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-google-pages"></i>
                                <span>Manage Events</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="">View Events</a></li>
                                <li><a href="">Add Events</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="" class="waves-effect">
                                <i class="mdi mdi-file-document-box-check-outline"></i>
                                <span>Login Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Add Family Head</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">GSPBS</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manage Families</a>
                                        </li>
                                        <li class="breadcrumb-item active">Add Family Head</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <% if(message.length> 0) { %>
                        <div class="alert alert-success">
                            <%= message %>
                        </div>
                        <% } %>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="/add_family_head" method="post">
                                                <h4 class="header-title">Enter Details</h4>
                                                <p class="card-title-desc">Carefully enter details in each and every
                                                    field.
                                                </p>

                                                <div class="form-group row">
                                                    <label for="example-text-input"
                                                        class="col-md-2 col-form-label">Family
                                                        Id</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="text" value="<%= family_id %>"
                                                            name="family_id" id="example-text-input" readonly>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label">Gender</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" name="gender" required>
                                                            <option value="" disabled selected>Select Gender</option>
                                                            <option value="M">Male</option>
                                                            <option value="F">Female</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label">Surname</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" name="surname" required>
                                                            <option value="" disabled selected>Select Surname</option>
                                                            <option value="BAHUGUNA">BAHUGUNA</option>
                                                            <option value="CHATURVEDI">CHATURVEDI</option>
                                                            <option value="CHAUBE">CHAUBE</option>
                                                            <option value="CHAUBEY">CHAUBEY</option>
                                                            <option value="DUBE">DUBE</option>
                                                            <option value="DUBEY">DUBEY</option>
                                                            <option value="DWIVEDI">DWIVEDI</option>
                                                            <option value="GIRI">GIRI</option>
                                                            <option value="GOSWAMI">GOSWAMI</option>
                                                            <option value="JOSHI">JOSHI</option>
                                                            <option value="MEHTA">MEHTA</option>
                                                            <option value="MISHRA">MISHRA</option>
                                                            <option value="OJHA">OJHA</option>
                                                            <option value="PANDEY">PANDEY</option>
                                                            <option value="PATHAK">PATHAK</option>
                                                            <option value="SHANDILYA">SHANDILYA</option>
                                                            <option value="SHARMA">SHARMA</option>
                                                            <option value="SHUKLA">SHUKLA</option>
                                                            <option value="SUTAR">SUTAR</option>
                                                            <option value="TIWARI">TIWARI</option>
                                                            <option value="TRIPATHI">TRIPATHI</option>
                                                            <option value="UPADHYAY">UPADHYAY</option>
                                                            <option value="VYAS">VYAS</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label">Gotra</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" name="gotra" required>
                                                            <option value="" disabled selected>Select Gotra</option>
                                                            <option value="ANGRISH">ANGRISH</option>
                                                            <option value="ANKRISH">ANKRISH</option>
                                                            <option value="ATRI">ATRI</option>
                                                            <option value="AUDICHYA">AUDICHYA</option>
                                                            <option value="AUGUTSAY">AUGUTSAY</option>
                                                            <option value="BHARDWAJ">BHARDWAJ</option>
                                                            <option value="BHRIGU">BHRIGU</option>
                                                            <option value="CHANDRATREY">CHANDRATREY</option>
                                                            <option value="CHANDRAYAN">CHANDRAYAN</option>
                                                            <option value="DHRAT KAUSHIK">DHRAT KAUSHIK</option>
                                                            <option value="GARG">GARG</option>
                                                            <option value="GAUTAM">GAUTAM</option>
                                                            <option value="GAUTAM (KAPISA)">GAUTAM (KAPISA)</option>
                                                            <option value="GAUTAM (MADHUBANI)">GAUTAM (MADHUBANI)
                                                            </option>
                                                            <option value="GYAN">GYAN</option>
                                                            <option value="KASHYAP">KASHYAP</option>
                                                            <option value="KASHYUP (KANTIT PARWA)">KASHYUP (KANTIT
                                                                PARWA)
                                                            </option>
                                                            <option value="KATYAYINI">KATYAYINI</option>
                                                            <option value="KAUSHALY">KAUSHALY</option>
                                                            <option value="KAUSHIK">KAUSHIK</option>
                                                            <option value="MAHARUSHI">MAHARUSHI</option>
                                                            <option value="PACHAURI">PACHAURI</option>
                                                            <option value="PARASHAR">PARASHAR</option>
                                                            <option value="RISHABH">RISHABH</option>
                                                            <option value="SANDILYA">SANDILYA</option>
                                                            <option value="SANDILYA-SARJAN">SANDILYA-SARJAN</option>
                                                            <option value="SANKRIT">SANKRIT</option>
                                                            <option value="SAVARNA">SAVARNA</option>
                                                            <option value="SHRIMUKH SHANDILYA">SHRIMUKH SHANDILYA
                                                            </option>
                                                            <option value="SUNARI">SUNARI</option>
                                                            <option value="SURVANSHAM">SURVANSHAM</option>
                                                            <option value="TIWARI OGOTRA">TIWARI OGOTRA</option>
                                                            <option value="TIWARIGOTRA">TIWARIGOTRA</option>
                                                            <option value="UDDALAK">UDDALAK</option>
                                                            <option value="UPMAN">UPMAN</option>
                                                            <option value="UPMANYU">UPMANYU</option>
                                                            <option value="VASIST">VASIST</option>
                                                            <option value="VATSA">VATSA</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="example-text-input"
                                                        class="col-md-2 col-form-label">First
                                                        Name</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="text"
                                                            placeholder="Enter First Name" name="first_name"
                                                            id="example-text-input" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="example-text-input"
                                                        class="col-md-2 col-form-label">Father/Husband
                                                        Name</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="text"
                                                            placeholder="Enter Father or Husband Name"
                                                            name="middle_name" id="example-text-input" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="example-text-input"
                                                        class="col-md-2 col-form-label">Mobile
                                                        No.</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="text"
                                                            placeholder="+91 42316 86570" name="mobile"
                                                            id="example-text-input" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="example-email-input"
                                                        class="col-md-2 col-form-label">Email
                                                        Id</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="email"
                                                            placeholder="user@gmail.com" name="email"
                                                            id="example-email-input" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label">Native</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" name="native" required>
                                                            <option value="" disabled selected>Select Native</option>
                                                            <option value="AAJAMGADH">AAJAMGADH</option>
                                                            <option value="ALLAHABAD">ALLAHABAD</option>
                                                            <option value="AMBEDKARNAGAR U.P">AMBEDKARNAGAR U.P</option>
                                                            <option value="AMETHI">AMETHI</option>
                                                            <option value="BALIYA">BALIYA</option>
                                                            <option value="BALRAMPUR">BALRAMPUR</option>
                                                            <option value="BARABANKI">BARABANKI</option>
                                                            <option value="BARWANI">BARWANI</option>
                                                            <option value="BASTI">BASTI</option>
                                                            <option value="BHADODI">BHADODI</option>
                                                            <option value="BHOPAL">BHOPAL</option>
                                                            <option value="BIHAR">BIHAR</option>
                                                            <option value="CHITRAKUT">CHITRAKUT</option>
                                                            <option value="DEORIA">DEORIA</option>
                                                            <option value="DEVARIYA">DEVARIYA</option>
                                                            <option value="FAIZABAD">FAIZABAD</option>
                                                            <option value="GONDA">GONDA</option>
                                                            <option value="GORAKHPUR">GORAKHPUR</option>
                                                            <option value="GORAKHPUR UP">GORAKHPUR UP</option>
                                                            <option value="GUJARAT">GUJARAT</option>
                                                            <option value="HMT">HMT</option>
                                                            <option value="INDORE">INDORE</option>
                                                            <option value="JAUNPUR">JAUNPUR</option>
                                                            <option value="KANPUR">KANPUR</option>
                                                            <option value="KUSHINAGAR">KUSHINAGAR</option>
                                                            <option value="MIRZAPUR">MIRZAPUR</option>
                                                            <option value="MP">MP</option>
                                                            <option value="MUJZAFARPUR">MUJZAFARPUR</option>
                                                            <option value="NATHDWARA">NATHDWARA</option>
                                                            <option value="PANNA (MP)">PANNA (MP)</option>
                                                            <option value="PRATAPGADHA">PRATAPGADHA</option>
                                                            <option value="RAIBARELI">RAIBARELI</option>
                                                            <option value="REWA">REWA</option>
                                                            <option value="SAMHO ITAWA">SAMHO ITAWA</option>
                                                            <option value="SANT KABIR NAGAR">SANT KABIR NAGAR</option>
                                                            <option value="SIDDHARTHNAGAR">SIDDHARTHNAGAR</option>
                                                            <option value="SIWAN">SIWAN</option>
                                                            <option value="SULTANPUR">SULTANPUR</option>
                                                            <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                                                            <option value="VARANASI">VARANASI</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="example-text-input"
                                                        class="col-md-2 col-form-label">Upload
                                                        Aadhar</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" type="text" value="Pending"
                                                            name="aadhar" id="example-text-input" required>
                                                    </div>
                                                </div>

                                                <center>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="tandc"
                                                            id="customCheck2" required>
                                                        <label class="custom-control-label" for="customCheck2">I have
                                                            Read All
                                                            Privacy and Policy and Agreed To Registeration. <a
                                                                href="">Privacy &
                                                                Policy</a></label>
                                                    </div>
                                                </center>
                                                <br>
                                                <center>
                                                    <input class="btn btn-danger" type="reset" value="Reset">
                                                    &nbsp;&nbsp;
                                                    <button type="submit" class="btn btn-primary mt-3 mt-sm-0">Add
                                                        Head</button>
                                                </center>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <!-- <div class="rightbar-overlay"></div> -->

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="assets/libs/slick-slider/slick/slick.min.js"></script>

    <!-- Jq vector map -->
    <script src="assets/libs/jqvmap/jquery.vmap.min.js"></script>
    <script src="assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="assets/js/pages/dashboard.init.js"></script>

    <script src="assets/js/app.js"></script>

</body>

</html>