<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GSPBS - Gujarat Saryupareen Brahman Samaj</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="assets/homePage/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="assets/homePage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="assets/homePage/css/style.css" rel="stylesheet">

    <style>
        .dropbtn {
          background-color: #FFA500;
          color: white;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 15px;
          border: none;
          cursor: pointer;
        }
        
        .dropbtn:hover, .dropbtn:focus {
          background-color: #FF7417;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown a:hover {background-color: #ddd;}
        
        .show {display: block;}
    </style>
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar p-0">
        <div class="container-lg p-0">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-white display-4"><span class="text-primary">GSPBS</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/home" class="nav-item nav-link">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">History</a>
                        <a href="pricing.html" class="nav-item nav-link">Directory</a>
                        <a href="/register" class="nav-item nav-link active">Registration</a>
                        <a href="pricing.html" class="nav-item nav-link">Committee</a>
                        <a href="pricing.html" class="nav-item nav-link">Events</a>
                        <a href="pricing.html" class="nav-item nav-link">Matrimonial</a>
                        <a href="pricing.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"><%= session.FamilyID %></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a><%= session.FirstName %></a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>

                <script>
                    /* When the user clicks on the button, 
                    toggle between hiding and showing the dropdown content */
                    function myFunction() {
                      document.getElementById("myDropdown").classList.toggle("show");
                    }
                    
                    // Close the dropdown if the user clicks outside of it
                    window.onclick = function(event) {
                      if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                          var openDropdown = dropdowns[i];
                          if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                          }
                        }
                      }
                    }
                    </script>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="assets/homePage/img/carousel-1.png" alt="Image">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <!-- <h5 class="text-white text-uppercase mb-md-3">(Reg.No. BF/1391 , Date : 24/06/1988)</h5>
                            <h1 class="display-3 text-white mb-md-4">Gujarat Saryupareen Brahman Samaj</h1> 
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


        <!-- Contact Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="text-center">
                    <small class="bg-primary text-white text-uppercase font-weight-bold text-center px-1">Get In Touch</small>
                    <h1 class="mt-2 mb-5">Register here to join GSPBS</h1>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="d-flex align-items-center border mb-3 p-4">
                            <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h5 class="font-weight-bold">Our Office</h5>
                                <p class="m-0">123 Street, New York, USA</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center border mb-3 p-4">
                            <i class="fa fa-2x fa-envelope-open text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h5 class="font-weight-bold">Email Us</h5>
                                <p class="m-0">info@example.com</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center border mb-3 mb-md-0 p-4">
                            <i class="fas fa-2x fa-phone-alt text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h5 class="font-weight-bold">Call Us</h5>
                                <p class="m-0">+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form method="post" action="/register-user-request" enctype="multipart/form-data">
                                <div class="control-group">
                                    <input type="text" name="first_name" class="form-control p-4" id="subject" placeholder="First Name" required="required" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <select class="form-control" name="surname" required>
                                        <option value="" disabled selected>Select Surname</option>
                                        <option value="BAHUGUNA">BAHUGUNA</option>
                                        <option value="CHATURVEDI">CHATURVEDI</option>
                                        <option value="CHAUBE">CHAUBE</option>
                                        <option value="CHAUBEY">CHAUBEY</option>
                                        <option value="DUBE">DUBE</option>
                                        <option value="DUBEY">DUBEY</option>
                                        <option value="DWIVEDI">DWIVEDI</option>
                                        <option value="GIRI">GIRI</option>
                                        <option value="GOSWAMI">GOSWAMI</option>
                                        <option value="JOSHI">JOSHI</option>
                                        <option value="MEHTA">MEHTA</option>
                                        <option value="MISHRA">MISHRA</option>
                                        <option value="OJHA">OJHA</option>
                                        <option value="PANDEY">PANDEY</option>
                                        <option value="PATHAK">PATHAK</option>
                                        <option value="SHANDILYA">SHANDILYA</option>
                                        <option value="SHARMA">SHARMA</option>
                                        <option value="SHUKLA">SHUKLA</option>
                                        <option value="SUTAR">SUTAR</option>
                                        <option value="TIWARI">TIWARI</option>
                                        <option value="TRIPATHI">TRIPATHI</option>
                                        <option value="UPADHYAY">UPADHYAY</option>
                                        <option value="VYAS">VYAS</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <select class="form-control" name="gender" required>
                                        <option value="" disabled selected>Select Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <select class="form-control" name="gotra" required>
                                        <option value="" disabled selected>Select Gotra</option>
                                        <option value="ANGRISH">ANGRISH</option>
                                        <option value="ANKRISH">ANKRISH</option>
                                        <option value="ATRI">ATRI</option>
                                        <option value="AUDICHYA">AUDICHYA</option>
                                        <option value="AUGUTSAY">AUGUTSAY</option>
                                        <option value="BHARDWAJ">BHARDWAJ</option>
                                        <option value="BHRIGU">BHRIGU</option>
                                        <option value="CHANDRATREY">CHANDRATREY</option>
                                        <option value="CHANDRAYAN">CHANDRAYAN</option>
                                        <option value="DHRAT KAUSHIK">DHRAT KAUSHIK</option>
                                        <option value="GARG">GARG</option>
                                        <option value="GAUTAM">GAUTAM</option>
                                        <option value="GAUTAM (KAPISA)">GAUTAM (KAPISA)</option>
                                        <option value="GAUTAM (MADHUBANI)">GAUTAM (MADHUBANI)
                                        </option>
                                        <option value="GYAN">GYAN</option>
                                        <option value="KASHYAP">KASHYAP</option>
                                        <option value="KASHYUP (KANTIT PARWA)">KASHYUP (KANTIT
                                            PARWA)
                                        </option>
                                        <option value="KATYAYINI">KATYAYINI</option>
                                        <option value="KAUSHALY">KAUSHALY</option>
                                        <option value="KAUSHIK">KAUSHIK</option>
                                        <option value="MAHARUSHI">MAHARUSHI</option>
                                        <option value="PACHAURI">PACHAURI</option>
                                        <option value="PARASHAR">PARASHAR</option>
                                        <option value="RISHABH">RISHABH</option>
                                        <option value="SANDILYA">SANDILYA</option>
                                        <option value="SANDILYA-SARJAN">SANDILYA-SARJAN</option>
                                        <option value="SANKRIT">SANKRIT</option>
                                        <option value="SAVARNA">SAVARNA</option>
                                        <option value="SHRIMUKH SHANDILYA">SHRIMUKH SHANDILYA
                                        </option>
                                        <option value="SUNARI">SUNARI</option>
                                        <option value="SURVANSHAM">SURVANSHAM</option>
                                        <option value="TIWARI OGOTRA">TIWARI OGOTRA</option>
                                        <option value="TIWARIGOTRA">TIWARIGOTRA</option>
                                        <option value="UDDALAK">UDDALAK</option>
                                        <option value="UPMAN">UPMAN</option>
                                        <option value="UPMANYU">UPMANYU</option>
                                        <option value="VASIST">VASIST</option>
                                        <option value="VATSA">VATSA</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <input type="text" name="mobile" class="form-control p-4" id="subject" placeholder="Mobile No." required="required" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <input type="email" name="email" class="form-control p-4" id="subject" placeholder="Email Id" required="required" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <select class="form-control" name="native" required>
                                        <option value="" disabled selected>Select Native</option>
                                        <option value="AAJAMGADH">AAJAMGADH</option>
                                        <option value="ALLAHABAD">ALLAHABAD</option>
                                        <option value="AMBEDKARNAGAR U.P">AMBEDKARNAGAR U.P</option>
                                        <option value="AMETHI">AMETHI</option>
                                        <option value="BALIYA">BALIYA</option>
                                        <option value="BALRAMPUR">BALRAMPUR</option>
                                        <option value="BARABANKI">BARABANKI</option>
                                        <option value="BARWANI">BARWANI</option>
                                        <option value="BASTI">BASTI</option>
                                        <option value="BHADODI">BHADODI</option>
                                        <option value="BHOPAL">BHOPAL</option>
                                        <option value="BIHAR">BIHAR</option>
                                        <option value="CHITRAKUT">CHITRAKUT</option>
                                        <option value="DEORIA">DEORIA</option>
                                        <option value="DEVARIYA">DEVARIYA</option>
                                        <option value="FAIZABAD">FAIZABAD</option>
                                        <option value="GONDA">GONDA</option>
                                        <option value="GORAKHPUR">GORAKHPUR</option>
                                        <option value="GORAKHPUR UP">GORAKHPUR UP</option>
                                        <option value="GUJARAT">GUJARAT</option>
                                        <option value="HMT">HMT</option>
                                        <option value="INDORE">INDORE</option>
                                        <option value="JAUNPUR">JAUNPUR</option>
                                        <option value="KANPUR">KANPUR</option>
                                        <option value="KUSHINAGAR">KUSHINAGAR</option>
                                        <option value="MIRZAPUR">MIRZAPUR</option>
                                        <option value="MP">MP</option>
                                        <option value="MUJZAFARPUR">MUJZAFARPUR</option>
                                        <option value="NATHDWARA">NATHDWARA</option>
                                        <option value="PANNA (MP)">PANNA (MP)</option>
                                        <option value="PRATAPGADHA">PRATAPGADHA</option>
                                        <option value="RAIBARELI">RAIBARELI</option>
                                        <option value="REWA">REWA</option>
                                        <option value="SAMHO ITAWA">SAMHO ITAWA</option>
                                        <option value="SANT KABIR NAGAR">SANT KABIR NAGAR</option>
                                        <option value="SIDDHARTHNAGAR">SIDDHARTHNAGAR</option>
                                        <option value="SIWAN">SIWAN</option>
                                        <option value="SULTANPUR">SULTANPUR</option>
                                        <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                                        <option value="VARANASI">VARANASI</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <p class="help-block"> <b>Upload Aadhar</b> &nbsp;&nbsp;&nbsp;&nbsp;  <input type="file" multiple name="file" accept="image/x-png,image/jpeg" required></p>
                                </div>

                                <div>
                                    <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->




    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 pt-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-white display-4"><span class="text-primary">GSPBS</h1>
                </a>
                <p>Get registered with us if you are a true saryupareen brahman</p>
                <!--<div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>-->
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="font-weight-bold text-primary mb-4">Quick Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Contact</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Gallery</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Login</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Register</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="font-weight-bold text-primary mb-4">Popular Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Committee</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>History</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Directory</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Matrimonial</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right text-primary mr-2"></i>Events</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="font-weight-bold text-primary mb-4">Get In Touch</h5>
                <p><i class="fa fa-map-marker-alt text-primary mr-2"></i>Shri Mahalxmi Mandir, Nr. Victoria Garden, Bhadra, Ahmedabad, Gujarat-380001</p>
                <p><i class="fa fa-phone-alt text-primary mr-2"></i>079 25351575/+91 82001 40620</p>
                <p><i class="fa fa-envelope text-primary mr-2"></i>info@saryupareenbrahman.org</p>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center">
            &copy; <a class="font-weight-semi-bold" href="#">Gujarat Saryupareen Brahman Samaj</a>. All Rights Reserved. Designed by
            <a class="font-weight-semi-bold" href="https://www.linkedin.com/in/themultipreneur02/" target="_blank">Manthan Pandey</a> and <a class="font-weight-semi-bold" href="https://www.linkedin.com/in/satvik-naik-2697ab1ba/" target="_blank">Satvik Naik</a>
        </p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/homePage/lib/easing/easing.min.js"></script>
    <script src="assets/homePage/lib/waypoints/waypoints.min.js"></script>
    <script src="assets/homePage/lib/counterup/counterup.min.js"></script>
    <script src="assets/homePage/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="assets/homePage/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="assets/homePage/js/main.js"></script>
</body>

</html>